$color-primary-silver: #cccccc;
$color-primary-outer-space: #4C5B61;
$color-primary-battleship-grey: #829191;
$color-primary-cadet-grey: #9AA09C;
$color-primary-grey: #80808021;
$color-button: #f0f0f0;