$color-primary-silver: #C5C5C5;
$color-primary-outer-space: #4C5B61;
$color-primary-battleship-grey: #829191;
$color-primary-cadet-grey: #9AA09C;
$color-primary-grey: #80808021;
$color-bakground: #aaaaaa;